<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ylgzs.info.dao.TableInfoMapper">
    <resultMap id="BaseResultMap" type="org.ylgzs.info.pojo.TableInfo">
        <constructor>
            <idArg column="table_info_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <idArg column="user_user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="table_info_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="collection_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="table_info_description" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="table_info_query_col" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="table_info_pv" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="table_info_status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="table_info_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="table_info_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        table_info_id, user_user_id, table_info_name, collection_name, table_info_description,
        table_info_query_col, table_info_pv, table_info_status, table_info_create_time, table_info_update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="org.ylgzs.info.pojo.TableInfoKey">
        select
        <include refid="Base_Column_List"/>
        from table_info
        where table_info_id = #{tableInfoId,jdbcType=INTEGER}
        and user_user_id = #{userUserId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="org.ylgzs.info.pojo.TableInfoKey">
        delete
        from table_info
        where table_info_id = #{tableInfoId,jdbcType=INTEGER}
          and user_user_id = #{userUserId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.ylgzs.info.pojo.TableInfo">
        insert into table_info (table_info_id,
                                user_user_id,
                                table_info_name,
                                collection_name,
                                table_info_description,
                                table_info_query_col,
                                table_info_pv,
                                table_info_status,
                                table_info_create_time,
                                table_info_update_time)
        values (#{tableInfoId,jdbcType=INTEGER},
                #{userUserId,jdbcType=INTEGER},
                #{tableInfoName,jdbcType=VARCHAR},
                #{collectionName,jdbcType=VARCHAR},
                #{tableInfoDescription,jdbcType=VARCHAR},
                #{tableInfoQueryCol,jdbcType=VARCHAR},
                #{tableInfoPv,jdbcType=INTEGER},
                #{tableInfoStatus,jdbcType=INTEGER},
                now(),
                now())
    </insert>
    <insert id="insertSelective" parameterType="org.ylgzs.info.pojo.TableInfo">
        insert into table_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableInfoId != null">
                table_info_id,
            </if>
            <if test="userUserId != null">
                user_user_id,
            </if>
            <if test="tableInfoName != null">
                table_info_name,
            </if>
            <if test="collectionName != null">
                collection_name,
            </if>
            <if test="tableInfoDescription != null">
                table_info_description,
            </if>
            <if test="tableInfoQueryCol != null">
                table_info_query_col,
            </if>
            <if test="tableInfoPv != null">
                table_info_pv,
            </if>
            <if test="tableInfoStatus != null">
                table_info_status,
            </if>
            <if test="tableInfoCreateTime != null">
                table_info_create_time,
            </if>
                table_info_update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableInfoId != null">
                #{tableInfoId,jdbcType=INTEGER},
            </if>
            <if test="userUserId != null">
                #{userUserId,jdbcType=INTEGER},
            </if>
            <if test="tableInfoName != null">
                #{tableInfoName,jdbcType=VARCHAR},
            </if>
            <if test="collectionName != null">
                #{collectionName,jdbcType=VARCHAR},
            </if>
            <if test="tableInfoDescription != null">
                #{tableInfoDescription,jdbcType=VARCHAR},
            </if>
            <if test="tableInfoQueryCol != null">
                #{tableInfoQueryCol,jdbcType=VARCHAR},
            </if>
            <if test="tableInfoPv != null">
                #{tableInfoPv,jdbcType=INTEGER},
            </if>
            <if test="tableInfoStatus != null">
                #{tableInfoStatus,jdbcType=INTEGER},
            </if>
            <if test="tableInfoCreateTime != null">
                #{tableInfoCreateTime,jdbcType=TIMESTAMP},
            </if>
            now()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.ylgzs.info.pojo.TableInfo">
        update table_info
        <set>
            <if test="tableInfoName != null">
                table_info_name = #{tableInfoName,jdbcType=VARCHAR},
            </if>
            <if test="collectionName != null">
                collection_name = #{collectionName,jdbcType=VARCHAR},
            </if>
            <if test="tableInfoDescription != null">
                table_info_description = #{tableInfoDescription,jdbcType=VARCHAR},
            </if>
            <if test="tableInfoQueryCol != null">
                table_info_query_col = #{tableInfoQueryCol,jdbcType=VARCHAR},
            </if>
            <if test="tableInfoPv != null">
                table_info_pv = #{tableInfoPv,jdbcType=INTEGER},
            </if>
            <if test="tableInfoStatus != null">
                table_info_status = #{tableInfoStatus,jdbcType=INTEGER},
            </if>
            <if test="tableInfoCreateTime != null">
                table_info_create_time = #{tableInfoCreateTime,jdbcType=TIMESTAMP},
            </if>
                table_info_update_time = now()
        </set>
        where table_info_id = #{tableInfoId,jdbcType=INTEGER}
        and user_user_id = #{userUserId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.ylgzs.info.pojo.TableInfo">
        update table_info
        set table_info_name        = #{tableInfoName,jdbcType=VARCHAR},
            collection_name        = #{collectionName,jdbcType=VARCHAR},
            table_info_description = #{tableInfoDescription,jdbcType=VARCHAR},
            table_info_query_col   = #{tableInfoQueryCol,jdbcType=VARCHAR},
            table_info_pv          = #{tableInfoPv,jdbcType=INTEGER},
            table_info_status      = #{tableInfoStatus,jdbcType=INTEGER},
            table_info_create_time = #{tableInfoCreateTime,jdbcType=TIMESTAMP},
            table_info_update_time = now()
        where table_info_id = #{tableInfoId,jdbcType=INTEGER}
          and user_user_id = #{userUserId,jdbcType=INTEGER}
    </update>

    <select id="checkTableName" parameterType="map" resultType="int">
        select count(1)
        from table_info
        where user_user_id = #{userId}
          and table_info_name = #{tableName}
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from table_info
        join user_info
        on table_info.user_user_id = user_info.user_id
        <where>
            <if test="userId != null">user_info.user_id = #{userId}</if>
            <if test="gradeId != null">user_info.grade_grade_id = #{gradeId}</if>
            <if test="departmentId != null">user_info.department_department_id = #{departmentId}</if>
            <if test="1==1">table_info.table_info_status != 0</if>
        </where>
    </select>

    <select id="listByTableInfoIds" parameterType="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from table_info
        where table_info_id in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByTableInfoIdBatch" parameterType="list">
        delete from table_info
        where table_info_id in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </delete>
    <update id="updateStatusDel" parameterType="list">
        update table_info
        set table_info_status = 0
        where table_info_id in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>
</mapper>