<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ylgzs.info.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="org.ylgzs.info.pojo.UserInfo" >
    <constructor >
      <idArg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_login_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_email_confirm" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_role" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="grade_grade_id" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_login_name, user_password, user_name, user_email, user_email_confirm, 
    user_role, user_create_time, user_update_time, grade_grade_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ylgzs.info.pojo.UserInfo" >
    insert into user_info (user_id, user_login_name, user_password, 
      user_name, user_email, user_email_confirm, 
      user_role, user_create_time, user_update_time, 
      grade_grade_id)
    values (#{userId,jdbcType=INTEGER}, #{userLoginName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userEmailConfirm,jdbcType=INTEGER}, 
      #{userRole,jdbcType=INTEGER}, #{userCreateTime,jdbcType=TIMESTAMP}, #{userUpdateTime,jdbcType=TIMESTAMP}, 
      #{gradeGradeId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ylgzs.info.pojo.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userLoginName != null" >
        user_login_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userEmailConfirm != null" >
        user_email_confirm,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="userCreateTime != null" >
        user_create_time,
      </if>
      <if test="userUpdateTime != null" >
        user_update_time,
      </if>
      <if test="gradeGradeId != null" >
        grade_grade_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userLoginName != null" >
        #{userLoginName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userEmailConfirm != null" >
        #{userEmailConfirm,jdbcType=INTEGER},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userCreateTime != null" >
        #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null" >
        #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeGradeId != null" >
        #{gradeGradeId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ylgzs.info.pojo.UserInfo" >
    update user_info
    <set >
      <if test="userLoginName != null" >
        user_login_name = #{userLoginName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userEmailConfirm != null" >
        user_email_confirm = #{userEmailConfirm,jdbcType=INTEGER},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userCreateTime != null" >
        user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null" >
        user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeGradeId != null" >
        grade_grade_id = #{gradeGradeId,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ylgzs.info.pojo.UserInfo" >
    update user_info
    set user_login_name = #{userLoginName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_email_confirm = #{userEmailConfirm,jdbcType=INTEGER},
      user_role = #{userRole,jdbcType=INTEGER},
      user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      grade_grade_id = #{gradeGradeId,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>